:root {
  --bs-primary: #083576;
  --bs-primary-rgb: 8, 53, 118;
}

.btn-info {
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #032830;
  --bs-btn-border-color: #032830;
  --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: rgba(3, 40, 48, .8);
}
.banner-s-pozadim {
  background-image: url(../foto/bcg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.backdrop-filter-neco {
  backdrop-filter: blur(15px);
}


.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: rgba(var(var(--bs-primary-rgb), .9));
  --bs-btn-hover-border-color: rgba(var(var(--bs-primary-rgb), .9));
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
  --bs-btn-active-color: var(--bs-primary);
  --bs-btn-active-bg:rgba(var(var(--bs-primary-rgb), .2));
  --bs-btn-active-border-color: rgba(var(var(--bs-primary-rgb), .2));
}